[submodule "mycode/myskynet/skynet"]
	path = mycode/myskynet/skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "mycode/spdk/spdk"]
	path = mycode/spdk/spdk
	url = https://github.com/spdk/spdk
